body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.party-card {
    padding: 20px;
    border: 1px solid #666;
    margin: 0 0 20px;
}

#addParty {
    margin: 0 0 20px;
    background: bisque;
    padding: 20px;
    text-align: center;
}

#addParty button {
    padding: 10px;
    margin: 0 10px 0 0;
    border-radius: 25px;
    border: none;
    background-color: cornflowerblue;
    margin: 10px 10px 0 0;
    color: #fff;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

#addParty button:hover {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

form #addParty>label {
    margin: 0 0 10px;
    float: left;
    width: 100%;
}

#partyList {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.party-card button {
    padding: 10px;
    margin: 0 10px 0 0;
    border-radius: 25px;
    border: none;
    background-color: cornflowerblue;
    margin: 10px 10px 0 0;
    color: #fff;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.party-card button:hover {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}